<div class="card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card-body">
            <div class="form-group">
                <label for="my-input">Name:</label>
                <input id="my-input" class="form-control" formControlName="name" type="text" name="name"
                    placeholder="Enter name" [ngClass]="{'border-danger': name.invalid && name.touched}">
                <small class="text-danger" *ngIf="name.invalid && name.touched">Name is
                    required</small>
            </div>
            <div class="form-group">
                <label for="my-input2">Email:</label>
                <input id="my-input2" class="form-control" formControlName="email" type="email" name="email"
                    placeholder="Enter  Email" [ngClass]="{'border-danger': email.invalid && email.touched}">
                <small class="text-danger" *ngIf="email.invalid && email.touched">
                    <span *ngIf="email.errors?.['required']">Email is required</span>
                    <span *ngIf="email.errors?.['email']">Email is invalid</span>
                </small>
            </div>

        </div>
        <div class="card-footer">
            <button class="btn btn-primary" [disabled]="form.invalid">Submit</button>
        </div>
    </form>
</div>