<div class="container mt-3">
    <!-- <h2>Componente padre</h2> -->
    <!-- <app-contador></app-contador> -->
    <!-- <app-buttons></app-buttons> -->
    <!-- <app-form></app-form> -->
    <!-- <app-bucles></app-bucles> -->
    <!-- <app-switch></app-switch> -->
    <!-- <app-form2></app-form2> -->
    <!-- <app-form-reactive></app-form-reactive> -->

    <!-- <input type="text" class="form-control mb-4" [(ngModel)]="title">

    <app-children [title]="title" (titleChange)="title = $event"></app-children> -->



    <h1>Servicios</h1>

    <app-add-message></app-add-message>
    <app-list-messages></app-list-messages>

</div>