<input type="text" class="form-control mb-2" #newDay>
<button class="btn btn-primary  mb-2" (click)="day = newDay.value">Mostrar dia</button>

<div [ngSwitch]="day" *ngIf="day">
    <span *ngSwitchCase="'1'">Lunes</span>
    <span *ngSwitchCase="'2'"> Martes</span>
    <span *ngSwitchCase="'3'">Miércoles</span>
    <span *ngSwitchCase="'4'">Jueves</span>
    <span *ngSwitchCase="'5'">Viernes</span>
    <span *ngSwitchCase="'6'">Sábado</span>
    <span *ngSwitchCase="'7'">Domingo</span>
    <span *ngSwitchDefault>Valor no valido</span>
</div>